@model LiveAthan.Models.ResponseModel
@{
    ViewBag.Title = "Index";
}
<img id="location-map" src="http://maps.googleapis.com/maps/api/staticmap?center=@Model.Latitude,@Model.Longitude&size=160x160&sensor=true&zoom=6&markers=color:blue|size:small|@Model.Latitude,@Model.Longitude&maptype=terrain" alt="Location map" />
<p id="location-label" class="location">
    @Model.Description <br /> (@Model.Latitude, @Model.Longitude)
    <a id="refine-location" href="#">
        <img src="/content/img/geolocation_icon.png" alt="Refine location" />
        Refine location</a>
</p>

@using (var form = Html.BeginForm("Index", "Home", FormMethod.Get, new { id="Settings" }))
{
    @Html.HiddenFor(m => m.Latitude)
    @Html.HiddenFor(m => m.Longitude)
    @Html.HiddenFor(m => m.City)
    @Html.HiddenFor(m => m.Country)
    @Html.HiddenFor(m => m.TimeOffset)
    <p>Asr method</p>
    var asrButtons = Html.EnumRadioButtonsFor(m => m.AsrMethod);
    foreach (var button in asrButtons)
    {
        <p>
            @button.Value.Html
            <label for="@button.Key">@button.Value.EnumLabel</label>
        </p>
    }
    <p>Isha/Fajr method</p>
    var calculationButtons = Html.EnumRadioButtonsFor(m => m.CalculationMethod);
    foreach (var button in calculationButtons)
    {
        <p>
            @button.Value.Html
            <label for="@button.Key">@button.Value.EnumLabel</label>
        </p>
    }
    <input type="submit" />
}

@if (Model.PrayerTimes != null)
{
    <dl>
        @{var fajr = new DateTime(Model.PrayerTimes.Fajr.Ticks).ToString("t");
          var dhuhr = new DateTime(Model.PrayerTimes.Dhuhr.Ticks).ToString("t");
          var asr = new DateTime(Model.PrayerTimes.Asr.Ticks).ToString("t");
          var maghrib = new DateTime(Model.PrayerTimes.Maghrib.Ticks).ToString("t");
          var isha = new DateTime(Model.PrayerTimes.Isha.Ticks).ToString("t");
        }
        <dt>Fajr</dt><dd>@fajr</dd>
        <dt>Dhuhr</dt><dd>@dhuhr</dd>
        <dt>Asr</dt><dd>@asr</dd>
        <dt>Maghrib</dt><dd>@maghrib</dd>
        <dt>Isha</dt><dd>@isha</dd>
    </dl>
}